.container {
    background-color: rgb(194, 188, 81);


}

.header {
    background-color: yellow;
    text-align: center;
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.navbar {
    background-color: rgb(201, 231, 105);
    display: flex;
    gap: 100px;
}

.about {
    background-color: red;
}

.contact {
    background-color: rgb(127, 253, 49);
}

.home {
    background-color: #179;
}

.menu {
    background-color: green;
}

.form {
    background-color: aqua
}

.table {
    background-color: rgb(68, 254, 142)
}

.footer {
    background-color: pink;
}