body {
    padding: 0%;
    margin: 0%
}

ul {
    list-style-type: name;
    background-color: black;
    color: red;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li::hover {
    background-color: blue;
    color: black;
}