.a {
    background-color: aqua;


}

.b {
    background-color: rgb(247, 121, 121);


}

.c {
    background-color: rgb(190, 127, 249);

}

.d {
    background-color: yellow;

}

div {

    margin: 20px;
    border: 2px solid red;
}

p {
    background-color: aqua
}

h2 {
    background-color: rgb(179, 122, 231)
}