.a {
    background-color: aqua;


}

.b {
    background-color: rgb(247, 121, 121);


}

.c {
    background-color: rgb(190, 127, 249);

}

.d {
    background-color: yellow;

}

div {
    float: left;
    margin: 20px;
}